/* Media query for screens with a minimum width of 768px */
@media (min-width: 768px) {
  .ads-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    padding: 16px;
  }
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .ads-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 34px;
  }
}

/* Styles for the "empty" class */
.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 43px;
  font-weight: 900;
  opacity: 1;
  animation: rotateAndFade 2s cubic-bezier(1, -0.6, 0, 1.43) infinite;
  -webkit-animation: rotateAndFade 2s cubic-bezier(1, -0.6, 0, 1.43) infinite;
}

@keyframes rotateAndFade {
  0% {
    transform: translate(-50%, -50%) rotate(-8deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(15deg);
    opacity: 1;
  }
}
